<!DOCTYPE HTML>
<html>
    <head>
        <title>Toko Buku</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Selamat Datang di Toko Buku Online</h1>
                <a class="btn btn-primary btn-lg" href="/buku">Lihat Buku</a>
            </div>
        </div>
    </body>
</html>